#main {
    background-color: var(--bg);
}

/* Header */

.header {
    background-image: var(--bg-header);
    height: var(--height-header);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 0 0;
    padding: 5px 0;
}

.navbar__list {
    margin-top: 4px;
}

.navbar__list-item {
    display: inline-block;
    padding: 4px;
    margin: 0 4px;
    position: relative;
    cursor: pointer;
    position: relative;
}

.navbar__list-item-hover:hover {
    color: #42403f;
}

.navbar__list-item-active-qr:hover .header__qr {
    display: block;
    opacity: 1;
}

.navbar__list-item-active-notify:hover .header__notify {
    display: block;
    opacity: 1;
}

.navbar__item-link {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
}

.navbar__item-link:hover {
    opacity: 0.7;
}

.navbar__list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid hsla(0, 9%, 94%, 0.418) ;
    height: 12px;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}

.margin-right {
    margin-right: 3px;
}

/* Header QR Code */

.header__qr {
    position: absolute;
    width: 135px;
    background-color: var(--white);
    top: 100%;
    left: -3px;
    padding: 5px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease .5s;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-app {
    height: 12px;
}
/* Header notification */
.header__notify {
    position: absolute;
    top: 115%;
    right: 0;
    width: 402px;
    background-color: var(--white);
    box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #756f6e75;
    border-radius: 5px;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: NotifyGrouth ease-in .3s;
    will-change: transform, opacity;
}

.header__notify::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    right: 20px;
    top: -18px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 15px;
    right: 0;
    top: -15px;
}

.header__notify-header {
    height: 30px;
    background-color: var(--white);
    border-radius: 5px;
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover,
.header__notify-footer:hover {

    background-color: #cfcece4d;
}

.header__notify-item--viewed {
    background-color: rgba(238, 76, 43, 0.137);
}

.header__notify-link {
    display: flex;
    padding: 5px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    flex-grow: 1;
    margin-left: 12px;
}

.header__notify-title {
    display: block;
    font-size: 1.5rem;
    color: #000;
    font-weight: 400;
    line-height: 1.5rem;
}

.header__notify-desc {
    display: block;
    font-size: 1.3rem;
    color: #756f6e;
    margin-top: 10px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    font-size: 1.5rem;
    color: #42403f;
    font-weight: 400;
    padding: 8px 50px;
    margin: auto;
}
/* Language */
.header__language {
    position: absolute;
    top: 119%;
    right: 0;
    padding: 5px 5px;
    background-color:#fff;
    width: 150px;
    display: none;
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top;
    animation: NotifyGrouth ease .2s;
    will-change: transform, opacity;
}

.header__language::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    right: 20px;
    top: -18px;
}

.header__language::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 15px;
    right: 0;
    top: -15px;
}

.item-language:hover .header__language {
    display: block;
}

.navbar__list-language-item {
    color: #000;
    margin: 8px 12px;
    font-weight: 500;
    text-align: center;
}

.navbar__list-language-item:hover {
    color: var(--color-primary);
}

/* End Header */

/* Authen modal */
.auth-form {
    width: 550px;
    margin: 20px 0 0 0;
    background-color: #fff;
    padding-top: 32px;
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
}

.auth-form__switch-btn {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
}

.auth-form__input {
    width: 95%;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #dbdbdb;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--color-primary);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__socials {
    background-color: #eeeeee;
    padding: 18px 38px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.auth-form__controls-icon {
    font-size: 1.7rem;
    margin-right: 16px;
}

.btn--with-icon {
    padding: 4px 28px;
}

.auth-form__socials--fb,
.auth-form__socials--gg:hover {
    color: var(--white);
    background-color: rgb(19, 70, 209);
}

.auth-form__socials--fb:hover,
.auth-form__socials--gg {
    color: #000;
    background-color: var(--white);
}

.auth-form__aside-login {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.auth-form__text-forget {
    font-size: 1.4rem;
    margin: 0 4px;
    color: var(--color-primary);
}
.auth-form__text-help {
    font-size: 1.4rem;
    margin: 0 4px;
    color: #888;
}

.auth-form__controls-login {
    margin-top: 40px;

}


/* Main Header */
.main-header {
    height: var(--height-main-header);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.main-header__logo {
    width: 200px;
    cursor: pointer;
}

.main-header__logo-img {
    width: 150px;
    color: var(--white);
}

.main-header__search {
    flex-grow: 1;
    height: 40px;
    background-color: var(--white);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.main-header__cart {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.main-header__cart-icon {
    color: var(--white);
    font-size: 2.8rem;
    margin-top: 4px;
}

.main-header__search-input {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-primary);
    padding: 0 16px;
}

.main-header__search-select {
    border-left: 1px solid rgba(136, 136, 136, 0.795);
    padding: 7px 16px;
    cursor: default;
    position: relative;
    cursor: pointer;
}

.main-header__search-select:hover .main-header__search-option {
    display: block;
}

.main-header__search-selection-label {
    font-size: 1.5rem;
    color: var(--text-primary);
    font-weight: 400;
}

.search-selection__icon {
    font-size: 1.5rem;
    margin: 0  12px;
    color: rgba(136, 136, 136, 1);
    position: relative;
    top: -1px;
}

.main-header__search-btn {
    background-color: var(--color-primary);
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 2px;
    margin: 2px 3px;
    outline: none;
    cursor: pointer;
}

.main-header__search-btn:hover {
    background-color: #ec593c;
}

.main-header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white);
}

.main-header__search-option {
    position: absolute;
    right: 0;
    top: 130%;
    width: 130px;
    text-align: left;
    display: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    animation: fadeIn ease .6s;
    
}

.main-header__search-option::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15%;
    right: 0;
}


.main-header__search-option-item {
    background-color: var(--white);
    font-size: 1.5rem;
    padding: 5px 10px;
    text-align: left;
}

.main-header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.main-header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.main-header__search-option-item:hover {
    color: var(--color-primary);
    font-size: 1.6rem;
} 

.search-option__text-title {
    font-size: 1.4rem;
}

.main-header__search-option-item i {
    color: var(--color-primary);
    display: none;
}

.main-header__search-option-item-active i {
    display: inline-block;
}

/* Container */
/* Slider */

.slider {
    height: 240px;
    display: flex;
    margin-top: 30px;
}

.slider__main {
    width: 800px;
    height: 240px;
    margin-left: 8px;
}

/* .slider__main-item {
    position: absolute;
} */

.slider__main-img {
    width: 99%;
    height: 100%;
    background-size: cover;

}

.slider__main-directional {
    width: 99%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__main-direc--next,
.slider__main-direc--prev {
    padding: 24px 12px;
    color: transparent;
    background-color: transparent;
    border-radius: 3px;
}

.slider__main-direc--next i,
.slider__main-direc--prev i {
    font-size: 2rem;
    font-weight: 600;
}

.slider__main-direc--next:hover,
.slider__main-direc--prev:hover {
    color: var(--white);
    background-color: rgba(0,0,0,.32);;
}

.slider__sub {
    width: 395px;
    height: 99%;
    display: flex;
    flex-flow: column;
}

.slider__sub-img {
    width: 98%;
    background-size: cover;
    margin-bottom: 5px;
}



/* Header Service */
.header-service {
    margin-left: 8px;
    width: calc(100% - 1.3%);
    display: flex;
    left: 0;
    margin-top: 25px;
    background-color: var(--white);
    
}

.header-service__item {
    width: 100px;
    height: 108px;
    padding: 9px 24px;
}

/* Banner */
.banner {
    margin-top: 20px;
    margin-left: 8px;
    width: calc(100% - 1.3%);
    background-color: var(--white);
}

.banner__image {
    width: 98%;
}

.banner__image-img {
    padding-left: 12px;
    width: 100%;
}

/* Category */

.category {
    margin-top: 20px;
    width: 100%;
    height: var(--height--category);
}

.category__title {
    width: calc(100% - 16px);
    height: var(--height--title-category);
    background-color: var(--white);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.category__title-heading {
    margin: 0 20px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #999;
}

.category__content {
    height: var(--height--content-category);

}

.category__content-group {
    width: 120px;
}

.category__content-item {
    width: 100%;
    height: 150px;
}

.content__item-img {
    width: 100%;
    height: 100%;
}

.content__img {
    
}

.content__item-title {

}
